#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: dimgray;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.hyperlink {
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-text-fill: gold;
    -fx-underline: true;
}

.hyperlink {
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-text-fill: orange;
    -fx-underline:true;
}
