.help-window {
    -fx-background-color: linear-gradient(to bottom right, #EF7C00, #003D7C);
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-font-weight: bold;
}

#copyButton, #helpMessage {
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-wrap-text: true;
}

#copyButton {
    -fx-background-color: brown;
}

#copyButton:hover {
    -fx-background-color: darkgreen;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: linear-gradient(to bottom right, #EF7C00, #003D7C);
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-font-weight: bold;
}

.hyperlink {
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-text-fill: gold;
    -fx-underline: true;
}

.hyperlink:hover {
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-text-fill: orange;
    -fx-underline:true;
}
